$white: #f8fcff;
$blue: #45b3f2;
$black: #222223;
$light_blue: #52c0ff;
$grey: #dfdfdf;
$yellow_gradient: linear-gradient(201.5deg, #ffd968 4.52%, #fac422 102.63%);
$blue_gradient: linear-gradient(106.01deg, #80d1ff 0%, #44b2f1 69.58%);
